@model IEnumerable<AMQH.Models.BookModel.OrderHeaders>

    <h2>已完成订单</h2>
    <div>
        <table style="padding:10px;margin:5px; border:1px">
                <tr>
                   
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.ContactName)</th>
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.ContactPhone)</th>
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.ContactAddress)</th>
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.TotalPrice)</th>
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.Remark)</th>
                    <th style="padding:5px;">@Html.DisplayNameFor(model => model.BuyTime)</th>

           
                </tr>
                @foreach (var item in Model)
                {
                    <tr>

                        <td style="padding:5px;">@Html.DisplayFor(modelItem => item.ContactName)</td>
                        <td style="padding:5px;">@Html.DisplayFor(modelItem => item.ContactPhone)</td>
                        <td  style="padding:5px;">@Html.DisplayFor(modelItem => item.ContactAddress)</td>
                        <td style="padding:5px;">@Html.DisplayFor(modelItem => item.TotalPrice)<span>元</span></td>
                        <td style="padding:5px;">@Html.DisplayFor(modelItem => item.Remark)</td>
                        <td style="padding:5px;">@Html.DisplayFor(modelItem => item.BuyTime)</td>
                       
         
                    </tr>
                }
       

        </table>
    </div>
